{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<!-- <div class="page-header" filter-color="blue"> -->
      <div class="section section-signup" style="background-image: url('{% static 'img/login-image.jpg' %}'); background-size: cover; background-position: top center; min-height: 1000px;">
        <div class="filter" style="padding-top: 5px;"></div>
        <div class="container">
            <div class="col-md-4 offset-md-4">
                <div class="card card-register">

              <h4 class="title title-up">{% trans "Welcome" %}</h1>

              {% get_providers as socialaccount_providers %}

              {% if socialaccount_providers %}
              <!-- <p>{# blocktrans with site.name as site_name #}Please sign in with one
              of your existing social media accounts. Or, <a href="{{ signup_url }}">sign up</a>
              for a {{ site_name }} account and sign in below:{# endblocktrans #}</p> -->

              <p class="text-center">Please sign in with one of your existing social media accounts.</p>

              <div class="socialaccount_ballot">

                  <ul class="socialaccount_providers">
                    {# include "socialaccount/snippets/provider_list.html" with process="login" #}
                  </ul>
                  {% load socialaccount %}

                <div class="social-line text-center">
                    <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="btn btn-neutral btn-facebook btn-just-icon">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="{% provider_login_url 'twitter' %}" class="btn btn-neutral btn-twitter btn-just-icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <br>
                    <br>
                  
                  <div class="login-or">{% trans 'or' %}</div>
                </div>
              </div>

              {% include "socialaccount/snippets/login_extra.html" %}

              {% else %}
              <p>{% blocktrans %}If you have not created an account yet, then please
              <a href="{{ signup_url }}" class="link">create account</a> first.{% endblocktrans %}</p>
              {% endif %}

              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="primaryAction btn btn-danger btn-block btn-round" type="submit">{% trans "Login" %}</button>
              </form>
              <div class="forgot">
                    <!-- <a href="#" class="btn btn-link btn-danger">Forgot password?</a> -->
                    <a class="btn btn-link btn-danger secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>                    
              </div>              
        </div>
        <div class="col text-center">
            <a href="{{ signup_url }}" class="btn btn-outline-neutral btn-round btn-lg">Register</a>
        </div> 
    </div>
</div>
</div>
<!-- </div> -->

{% endblock %}
