{% load i18n %}

{% if notification %}
    <form method="post" action="{% url 'notification:update' notification.pk %}">
{% else %}
    <form method="post" action="{% url 'notification:create' topic_id %}">
{% endif %}
    {% csrf_token %}
    {% include "snippet/form.html" %}

    {% if notification.is_active %}
        <input class="btn btn-primary btn-sm is-undo" type="submit" value="{% trans 'Unnotify Me' %}" />
    {% else %}
        <input class="btn btn-primary btn-sm" type="submit" value="{% trans 'Notify Me' %}" />
    {% endif %}
    
    <div class="togglebutton">
    {% if notification.is_active %}
        <input class="is-undo" type="submit" data-toggle="switch" checked="" value="{% trans 'Unnotify Me' %}"><span class="toggle"></span>
    {% else %}
        <input type="submit" data-toggle="switch" checked="" value="{% trans 'Notify Me' %}"><span class="toggle"></span>
    {% endif %}
    </div> 
</form>