{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Delete comment" %}{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="padding-bottom: 60px; padding-top: -50px;">
    <div class="container">
        <!-- <h1 class="display-3">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
</div>
<div class="container">
    <h3 class="headline h3-responsive">{% trans "Delete comment" %}</h3>
    
    <form action="." method="post">
        {% csrf_token %}

        <input class="button" type="submit" name="post" value="{% trans "Apply" %}" />
    </form>
</div>
{% endblock %}