{% extends "base.html" %}
{% load crispy_forms_tags %}


{% load i18n %}

{% block title %}{% trans "Edit comment" %}{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="padding-bottom: 60px; padding-top: -50px;">
    <div class="container">
        <!-- <h1 class="display-3">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
</div>
<div class="container">
    <h3 class="headline h3-responsive">{% trans "Edit comment" %}</h3>
    
    <form action="." method="post" class="js-reply">
        {% csrf_token %}
        {# include "snippet/_form.html" #}
        {{ form|crispy }}

        <div class="" style="margin-left: -40px;">
            {% include "comment/editor.html" %}
        </div>
            <input class="btn btn-info btn-sm float-right" type="submit" value="{% trans 'Post' %}" />
        
    </form>
</div>
{% endblock %}
{% block extra-js %}{% endblock %}