{% load i18n %}
{% load crispy_forms_tags %}

<form class="searchbox" method="GET" action="{% url 'search:search' %}">
    {# include "snippet/form.html" #}
    <div class="form-group">
        {{ form|crispy }}
        <input type="submit" class='searchbox-submit'/>
        <span class="searchbox-icon"><i class="fa fa-search fa-5x" aria-hidden="true"></i></span> 
    </div>
</form>
<!-- <a href="{% url 'search:search' %}" class="nav-link searchbox-icon" rel="tooltip" title="Search">
        <i class="fa fa-search fa-5x" aria-hidden="true"></i>        
</a> -->