{% load static %}
<nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Taico 2K5</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="">
                        <i class="fa fa-twitter"></i>
                        <p class="hidden-lg-up">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="">
                        <i class="fa fa-facebook-square"></i>
                        <p class="hidden-lg-up">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="">
                        <i class="fa fa-instagram"></i>
                        <p class="hidden-lg-up">Instagram</p>
                    </a>
                </li> -->
                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'account_signup' %}" class="nav-link" rel="tooltip" title="Register" data-placement="bottom" href="">
                        <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
                        <p class="hidden-lg-up">Register</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account_login' %}" class="nav-link" rel="tooltip" title="Login" data-placement="bottom" href="">
                        <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                        <p class="hidden-lg-up">Login</p>
                    </a>
                </li>
                {% else %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account_logout' %}" class="nav-link" rel="tooltip" title="Logout" data-placement="bottom" href="">
                            <i class="fa fa-user-times fa-5x" aria-hidden="true"></i>
                            <p class="hidden-lg-up">Logout</p>
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>