{% load static %}
{% load thomas_tags %}
{% load i18n %}
<nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Taico 2K5</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="">
                        <i class="fa fa-twitter"></i>
                        <p class="hidden-lg-up">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="">
                        <i class="fa fa-facebook-square"></i>
                        <p class="hidden-lg-up">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="">
                        <i class="fa fa-instagram"></i>
                        <p class="hidden-lg-up">Instagram</p>
                    </a>
                </li> -->
                {% if not request.user.is_authenticated %}
                        {% if request.get_full_path == "/" %}
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link" rel="tooltip" title="Register" data-placement="bottom">
                                <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
                                <p class="hidden-lg-up">Register</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link" rel="tooltip" title="Login" data-placement="bottom">
                                <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                                <p class="hidden-lg-up">Login</p>
                            </a>
                        </li>
                        {% endif %}
                {% else %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'search:search' %}" class="nav-link" rel="tooltip" title="Search" data-related=".js-search-content">
                                {# render_search_form #} <i class="fa fa-search fa-5x" aria-hidden="true"></i>
                            <!-- <p class="hidden-lg-up">Notifications</p> -->
                        </a>
                    </li>
                    {% has_topic_notifications user as has_notifications %}
                    <li class="nav-item">
                        <a class="nav-link js-tab-notification{% if has_notifications %} is-highlighted {% endif %}" href="{% url 'notification:index' %}" data-related=".js-notifications-content" rel="tooltip" title="Notifications" >
                            <i class="fa fa-bell fa-5x" aria-hidden="true"></i>
                            <p class="hidden-lg-up">Notifications</p></a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-primary">
                            <div class="header-tab-content js-tab-content js-notifications-content dropdown-item"></div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" rel="tooltip" title="Categories"><i class="fa fa-newspaper-o fa-5x" aria-hidden="true"></i>
                            <p class="hidden-lg-up">Categories</p></a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-danger">
                            {% for c in categories %}
                                <li class="dropdown-item"><a href="{{ c.get_absolute_url }}">{{ c.title }}</a></li>
                            {% endfor %}
                            {% if category.parent %}
                                <li class="dropdown-item"><a href="{{ category.parent.get_absolute_url }}">{% trans "All Subcategories" %}</a></li>
                            {% else %}
                                <li class="dropdown-item"><a href="{% url 'topic:index-active' %}">{% trans "All Categories" %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" rel="tooltip" title="My Account"><i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
                            <p class="hidden-lg-up">My Account</p></a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-info">
                            {# if request.get_full_path == "/" #}                                
                            <li class="dropdown-item"><a href="{% url 'user:detail' pk=user.pk slug=user.u.slug %}">Profile</a></li>
                            {# endif #}
                            <!-- <li class="dropdown-item"><a href="#pk">Topics</a></li>
                            <li class="dropdown-item"><a href="#pk">Unread Topics</a></li> -->
                            <div class="dropdown-divider"></div>
                            <li class="dropdown-item"><a href="{% url 'account_logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>