{% extends 'base.html' %}
{% load static %}

{% load thomas_tags i18n %}

{% block title %}{{ topic.title }}{% endblock %}
{% block extra-header %}
    <script src="{% static 'js/social_share.no-min.js' %}"></script>
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="padding-bottom: 60px; padding-top: -50px;">
    <div class="container">
        <!-- <h1 class="display-3">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> -->
    </div>
</div>
<div class="container">
    <div style="margin-top: 100px;"></div>
    <!-- replace with breadcrumbs -->
    <!-- <ul class="nav">
        <li><a href="{# url 'home' #}" >{# trans "Main" #}</a><i class="fa fa-chevron-right"></i></li>

        {# if topic.category.parent_id #}
            <li><a href="{{ topic.category.parent.get_absolute_url }}" >{{ topic.category.parent.title }}</a><i class="fa fa-chevron-right"></i></li>
        {# endif #}

        <li><a href="{{ topic.category.get_absolute_url }}" >{{ topic.category.title }}</a></li>
    </ul> -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "Main" %}</a></li>
        {% if topic.category.parent_id %}
            <li class="breadcrumb-item"><a href="{{ topic.category.parent.get_absolute_url }}">{{ topic.category.parent.title }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active"><a href="{{ topic.category.get_absolute_url }}">{{ topic.category.title }}</a></li>
    </ol>
    <!-- //Replace End -->
    <h3 class="headline h3-responsive">
        {% if topic.is_pinned or topic.is_globally_pinned %}
            <i class="fa fa-thumb-tack"></i>
        {% endif %}
        {% if topic.is_closed %}
            <i class="fa fa-lock"></i>
        {% endif %}

        {{ topic.title }}

        {% if user.u.is_administrator %}
            <a class="head-edit-link" href="{% url 'topic:update' topic.pk %}"><i class="fa fa-pencil"></i> {% trans "edit" %}</a>
        {% elif user.pk == topic.user.pk and not topic.is_closed %}
            <a class="head-edit-link" href="{% url 'topic:update' topic.pk %}"><i class="fa fa-pencil"></i> {% trans "edit" %}</a>
        {% endif %}
    </h3>
    {% if user.u.is_administrator %}
    <div class="move-comments" style="display:none;">
        <div class="move-container">
            <label class="move-label">{% trans "Topic id" %}:</label>
            <div class="move-input"><input id="id_move_comments_topic" name="topic" type="text" value="" /></div>
            <a class="move-link js-move-comments" href="#move_to">{% trans "Move" %}</a>
        </div>
    </div>
    {% endif %}
    {% include "comment/_render_list.html" %}
    <div class="container">
        {% render_paginator page=comments %}

        <div class="notify float-right">
            {% if user.is_authenticated %}
                {# render_notification_form user=user topic=topic #}
            {% elif not topic.is_closed %}
                <a class="btn btn-default btn-sm" href="{% url 'comment:publish' topic_id=topic.pk %}">{% trans "Post" %}</a>
            {% endif %}
        </div>
    </div>


    {% if user.is_authenticated %}
    {% if not topic.is_closed %}
        <div id="reply" class="reply">

            <div class="comment-media">
                <div class="comment-img">
                    <!-- <img class="comment-avatar" src="{# get_gravatar_url user=user size=50 #}" /> -->
                    {% if user.u.image %}
                        <img class="comment-avatar img-responsive" src="{{ user.u.image.url }}" width="50" height="50" />
                    {% else %}
                        <img class="comment-avatar img-fluid img-thumbnail" src="http://www.sbsc.in/images/dummy-profile-pic.png" width="50" height="50" />
                    {% endif %}
                </div>

                <div class="comment-body">
                    {% render_comments_form topic=topic %}
                </div>
            </div>

        </div>
    {% endif %}

    <script>
        $( document ).ready(function() {

            $( ".comment" ).bookmark( {
                csrfToken: "{{ csrf_token }}",
                target: "{% url 'bookmark:create' topic.pk %}",
            } );


            {% if user.u.is_administrator %}
                $('.js-show-move-comments').move_comments( {
                    csrfToken: "{{ csrf_token }}",
                    target: "{% url 'comment:move' topic.pk %}",
                } );
            {% endif %}

        });
    </script>
    {% endif %}
</div>
{% endblock %}

{% block extra-js %}
<script>
   /* $( document ).ready(function() {

        
    }); */
</script>
{% endblock %}